base            
certifi         
chardet         
click           
cymysql          
dnspython        
email-validator 
Flask           
Flask-Login     
Flask-SQLAlchemy
idna          
itsdangerous    
Jinja2           
MarkupSafe      
requests         
SQLAlchemy       
urllib3          
Werkzeug        
WTForms 
uWSGI